{% extends 'tienda/main.html' %}
{% load static %}
{% block content %}
<main id="main">
	<section class="colecciones">
		<div class="hero">
			<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
				<ol class="carousel-indicators">
					<li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
					<li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
					<li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
					<li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="hero__img"
							style="background: url({% static 'assets/img/colecciones/ECO/eco1.jpg' %}) no-repeat center; background-size: cover;">
							<div class="hero__border"></div>
						</div>
						<div class="hero__info">
							<div class="container">
								<h1>Eco</h1>
								<div class="d-grid gap-2 col-6 mx-auto">
									<a class="btn-ver" href="#eco">Ver más</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="hero__img"
							style="background: url({% static 'assets/img/colecciones/SOFT/soft.jpg' %}) no-repeat center; background-size: cover;">
							<div class="hero__border"></div>
						</div>
						<div class="hero__info">
							<div class="container">
								<h1>SOFT</h1>
								<div class="d-grid gap-2 col-6 mx-auto">
									<a class="btn-ver" href="#soft">Ver más</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="hero__img"
							style="background: url({% static 'assets/img/colecciones/BORDADOS/a2.jpg' %}) no-repeat center; background-size: cover;">
							<div class="hero__border"></div>
						</div>
						<div class="hero__info">
							<div class="container">
								<h1>BORDADOS</h1>
								<div class="d-grid gap-2 col-6 mx-auto">
									<a class="btn-ver" href="#bordados">Ver más</a>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="hero__img"
							style="background: url({% static 'assets/img/colecciones/GUAGUAS/V5.jpg' %}) no-repeat center; background-size: cover;">
							<div class="hero__border"></div>
						</div>
						<div class="hero__info">
							<div class="container">
								<h1>GUAGUAS</h1>
								<div class="d-grid gap-2 col-6 mx-auto">
									<a class="btn-ver" href="#guagas">Ver más</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</a>
				<a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</a>
			</div>
		</div>

		<div class="coleccion" id="eco">			
			<!-- ======= Content ======= -->
			{% block coleccion %}
			{% endblock coleccion %}
			<!-- ======= End Content ======= -->
		</div>
	</section>
</main>
<script src="{% static 'assets/js/coleccion.js' %}"></script>
{% endblock content %}