{% extends 'tienda/main.html' %}
{% load static %}
{% block content %}
<main id="main">
    <section class="compromisos">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img" width="100%" src="{% static 'assets/img/compromiso/Manos/m1.jpg' %}"
                        alt=""></img>
                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Manos.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg rounded-0 btn-outline-dark" href="#amautas" role="button">Ver
                                    más</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img" width="100%"
                        src="{% static 'assets/img/compromiso/Rostros/Andrea/foto00465.jpg' %}" alt=""></img>
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Rostros.</h1>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                                gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                            <p><a class="btn btn-lg rounded-0 btn-outline-dark" href="#ambiente" role="button">Ver
                                    más</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <div class="compromiso">
            {% include "tienda/compromiso/rostros.html" %}
        </div>
    </section>
</main>
{% endblock content %}