{% extends 'tienda/main.html' %}
{% load static %}
{% block content %}
<main id="main">
	<section class="conocenos">
		<div class="container mb-4">
			<h1 class="title-page">MONASTERIO</h1>
			<div class="grid">
				<div class="grid_item grid_item--1">
					<img src="{% static 'assets/img/banner/JMM_2002.JPG' %}" alt="">
				</div>
				<div class="grid_item grid_item--2">
					<img src="{% static 'assets/img/banner/JMM_2021.JPG' %}" alt="">
				</div>
				<div class="grid_item grid_item--3">
					<img src="{% static 'assets/img/banner/JMM_2000.JPG' %}" alt="">
				</div>
			</div>
		</div>

		<div class="conocenos__box pri">
			<div class="row">
				<div class="col-md-6">
					<div class="box__img">
						<img class="img--principal" src="{% static 'assets/img/1/JMM_5509.JPG' %}" alt="">
						<img class="img--secundaria" src="{% static 'assets/img/1/JMM_7190.JPG' %}" alt="">						
					</div>
				</div>
				<div class="col-md-6">
					<div class="box__info">
						<div>
							<h1>Cómo empezamos</h1>
							<p>Nuestra empresa tiene casi 20 años en el mercado textil en pelos finos como la fibra de alpaca, nacimos
								como una iniciativa de un grupo de profesionales para mejorar las características de la fibra de alpaca
								y mejorar los procesos textiles de las empresas productoras de prendas de alpaca.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="conocenos__box sec">
			<div class="row">
				<div class="col-md-6">
					<div class="box__info">
						<div>
							<h1>A donde vamos</h1>
							<p>Nuestro interés es aplicar la tecnología para ofrecer productos innovadores que resalten las mejores
								características de nuestra fibra alpaca </p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="box__img">
						<img class="img--principal" src="{% static 'assets/img/2/JMM_7180.JPG' %}" alt="">		
						<img class="img--secundaria" src="{% static 'assets/img/2/JMM_5524.JPG' %}" alt="">										
					</div>
				</div>
			</div>
		</div>

		<div>
			<div class="container p-4">
				<div class="page-header text-center">
					<h1 class="title">Nuestros Proyectos</h1>
				</div>
			</div>
			<div class="container mb-4 proyectos ">
				<div class="row justify-content-md-center">
					<div class="col-md-4 mb-4 proyecto">
						<div class="card rounded-0" style="width: 100;">
							<img src="{% static 'assets/img/proyectos/materiales/IMG_20201211_114547.jpg' %}" class="card-img-top"
								alt="{% static 'assets/img/CleopatraB.jpg' %}">
							<div class="card-body">
								<h2>Nuevos Materiales</h2>
								<p class="text-muted">Proyecto de mezcla de fibra de alpaca y fibra de leche, un proyecto innovador para
									obtener un hilado con características mejoradas </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-4 proyecto">
						<div class="card rounded-0" style="width: 100;">
							<img src="{% static 'assets/img/proyectos/solar/_MG_0612_B.jpg' %}" class="card-img-top"
								alt="{% static 'assets/img/CleopatraB.jpg' %}">
							<div class="card-body">
								<h2>Energía Solar</h2>
								<p class="text-muted">La producción de prendas de Alpaca requiere vapor, aire caliente y agua caliente;
									esto se logra con calderos y energía eléctrica que impactan negativamente el medio ambiente por otro
									Arequipa es una de las regiones con mayor radiación solar del mundo, nuestra propuesta es aprovechar
									la energía solar para generar vapor, agua y aire caliente, reduciendo así los impactos negativos.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-4 proyecto">
						<div class="card rounded-0" style="width: 100;">
							<img src="{% static 'assets/img/proyectos/procesos/_MG_0541_B.jpg' %}" class="card-img-top"
								alt="{% static 'assets/img/CleopatraB.jpg' %}">
							<div class="card-body">
								<h2>Nuevos Procesos</h2>
								<p class="text-muted">Los procesos textiles son muy diversos y ofrecen grandes oportunidades de mejora,
									nuestras propuestas de innovación tecnológica permiten obtener procesos mejorados y productos
									innovadores </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="inspiracion">
			<div class="inspiracion__info">
				<div class="info">
					<h1 class="title">Qué nos inspira</h1>
					<p>El negocio es un medio, no un fin, generamos valor no solo para nuestra empresa, generamos valor para
						nuestros trabajadores, nuestros artesanos y sobre todo a nuestros clientes
						Mantener procesos limpios y fibras naturales con diseños en tejido de punto de punto y tejido plano</p>
				</div>
			</div>
		</div>
		<div class="materiales container">
			<div class="row">
				<div class="col-md-5 materiales__img p-0">
					<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
						<ol class="carousel-indicators">
							<li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
							<li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
							<li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
							<li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="bd-placeholder-img" width="100%" src="{% static 'assets/img/fibras/image1.jpg' %}" alt=""></img>
							</div>
							<div class="carousel-item">
								<img class="bd-placeholder-img" width="100%" src="{% static 'assets/img/fibras/image2.jpg' %}" alt=""></img>
							</div>
							<div class="carousel-item">
								<img class="bd-placeholder-img" width="100%" src="{% static 'assets/img/fibras/image3.jpg' %}" alt=""></img>
							</div>
							<div class="carousel-item">
								<img class="bd-placeholder-img" width="100%" src="{% static 'assets/img/fibras/image4.jpg' %}" alt=""></img>
							</div>
						</div>
						<a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</a>
						<a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</a>
					</div>
				</div>
				<div class="col-md-7 p-0">
					<div class="materiales__info">
						<h1 class="title">Nuestros Materiales</h1>
						<p>Trabajamos con una de las Fibras textiles naturales más finas del mundo, la Alpaca, una fibra sedosa,
							suave
							y durable que tiene propiedades térmicas únicas debido a los bolsillos de aire microscópicos encontrados
							en su interior. Estos bolsillos permiten al animal respirar a través de las fibras en días cálidos, y de la
							misma manera retener el calor corporal en temperaturas bajas. También es una fibra elástica y no
							inflamable.
							<br>
							<br>
							La fibra de Alpaca aparece en la naturaleza en aproximadamente 32 tonos, lo que la hace una alternativa
							atractiva para los principales diseñadores alrededor del mundo. La versatilidad de la fibra de Alpaca
							permite ser transformada en prendas de tejido de punto o plano, accesorios y artesanías.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock content %}