{% extends 'tienda/main.html' %}
{% load static %}
{% block content %}
<main id="main">
    <section class="servicio">
        <div class="container titulo">
            <div class="row">
                <div class="col-md-12 titulo-header text-center">
                    <h1>Servicio al Cliente</h1>
                </div>
            </div>
        </div>
        <div class="container container-servicio">
            <div class="envio">
                <h3 class="servicio-titulo">Envío</h3>
                <div class="envio-info servicio-info servicio-info-active ps-2">
                    <p>Para que el envío del pedido hecho en la tienda online de MONASTERIO se lleve a cabo exitosamente, de manera adecuada y oportuna, el cliente deberá consignar la información correcta al momento de ejecutar la Orden de Compra.</p>
                    <p>El registro de datos erróneos o incompletos que ocasione un procesamiento indebido de la misma, será de exclusiva responsabilidad del cliente. Ello podría devenir incluso en una cancelación de la orden si así lo considera pertinente la Empresa.</p>
                    <p>El plazo de entrega del pedido se contabiliza desde que se valida la confirmación el pago de la Orden de Compra. La extensión de dicho plazo dependerá principalmente de la dirección de entrega.</p>
                    <p>La tienda online MONASTERIO contempla una forma de entrega:</p>
                    <ul>
                        <li>Despacho vía Courier</li>
                    </ul>
                    <p>Tiempo promedio de entrega:</p>
                    <ul>
                        <li>AREQUIPA 5 - 7 días hábiles</li>
                        <li>LIMA Y PROVINCIAS 7 - 10 días hábiles</li>
                    </ul>
                    <p>Agradeceríamos considerar que todos los despachos salen de la Ciudad de Arequipa- Perú, y en temporada de Fiestas (Fiestas Patrias, Navidad y Año Nuevo) o campañas (Black Friday, Cyber Days, Cyber Monday, Online Sale, Summer Sale), existe la probabilidad de retraso de envío en 3 o 4 días hábiles más de lo normal debido a la saturación de pedidos.</p>
                    <p>El pedido deberá ser recibido por una mayor de edad, el cual se identificará con su Nombre Completo y Documento Nacional de Identidad (DNI) en físico y firmará el cargo de recepción para acreditar la conformidad de entrega.</p>
                    <ul>
                        <li>La Empresa realizará un seguimiento continuo a las órdenes despachadas, con el fin de asegurarse que estas lleguen a su destino en el tiempo acordado. Sin embargo, la dirección de entrega no fue ubicada porque el registro de la misma en la Plataforma se llevó a cabo de forma equívoca o incompleta.</li>
                        <li>No se encontraron moradores en el domicilio de envío al momento de realizar la entrega.</li>
                    </ul>
                    <p>La entrega podría no concretarse por cualquiera de las anteriores situaciones.</p>
                    <p>Una vez informada del inconveniente, la Empresa se pondrá en contacto con el Cliente vía correo electrónico y/o teléfono, para hacer la reprogramación de la fecha de entrega. Los costos adicionales que suponga esta reprogramación serán asumidos por el cliente.</p>
                    <p>En caso de que el cliente requiera información adicional sobre el estado de envío de su pedido, podrá comunicarse con la Empresa a través del correo electrónico a <strong>consultas@monasterio.pe</strong></p>
                    <h5><strong>PROTOCOLO DE BIOSEGURIDAD (COVID-19):</strong></h5>
                    <p>Nuestra prioridad es la salud de nuestros clientes y colaboradores, por ello le pedimos tomar nota del protocolo de bioseguridad que hemos implementado en nuestro centro de distribución donde se procesa su compra.</p>
                    <p>Realizamos exhaustiva limpieza, desinfección de ambientes y áreas de trabajo.</p>
                    <p>Nuestros colaboradores pasan un control diario de temperatura, hacen uso obligatorio de un equipo de protección personal (EPP) para la prevención del COVID-19, y deben lavarse y desinfectarse las manos constantemente.</p>
                    <p>Consideraciones:</p>
                    <p>La Empresa se exime de responder, bajo toda circunstancia, por los posibles inconvenientes que pudiera generar la prestación de servicios de entrega de productos brindados por proveedores externos.</p>
                    <p>Asimismo, de presentarse el caso excepcional que los productos adquiridos por el Cliente no tuviesen stock disponible, se le hará llegar un correo electrónico informándole la situación, quedando este en la libertad de anular el pedido o hacer uno nuevo a través de la Plataforma.</p>
                </div>
            </div>
            <div class="metodos-pago">
                <h3 class="servicio-titulo">Métodos de pago disponibles en la tienda online Perú</h3>
                <div class="metodos-pago-info servicio-info ps-2">
                    <p>Una vez añadidos los artículos de su preferencia al Carrito de Compras, el cliente deberá registrar sus datos para que pueda efectuar el pago, mismo que podrá hacerse en cualquiera de estas modalidades:</p>
                    <ul>
                        <li>Pago con Tarjeta de Crédito/Débito.</li>
                    </ul>
                    <p>Los productos ofertados en esta plataforma se comercializan de forma segura. Para brindarle esta garantía al cliente, la Empresa posee un acuerdo con un proveedor externo de servicios de pago en línea, de amplia experiencia y con presencia en mercados de alto crecimiento.</p>
                    <p>Los datos suministrados por el cliente serán compartidos con el proveedor para fines exclusivos de prestación del servicio, los cuales incluyen el procesamiento de pagos y la validación de transacciones a través de un sistema anti fraude, a fin de minimizar el riesgo de suplantación de identidad de los tarjeta habientes.</p>
                    <p>Al efectuar el pago mediante esta modalidad, el cliente autoriza el tratamiento confidencial de la información por el proveedor. Los datos personales, de la tarjeta de crédito y de la compra viajan encriptados en la red, quedando así protegidos.</p>
                    <p>La Empresa, por otro lado, no se responsabiliza por las posibles comisiones que los operadores de las tarjetas de crédito pudiesen aplicar.</p>
                    <p>Las tarjetas de crédito/débito mediante las cuales se puede efectuar el pago son:</p>
                    <ul>
                        <li>VISA.</li>
                        <li>Amex (American Express).</li>
                        <li>MasterCard.</li>
                        <li>Dinners</li>
                    </ul>
                    <p>Antes de cerrar su compra y habiendo consignado sus datos personales y de envío, el cliente ingresará los datos de su tarjeta de crédito, en la cual se cargará el importe total suministrado por la Plataforma.</p>
                    <p>La confirmación de la Orden de Compra se llevará a cabo una vez que la instancia correspondiente verifique que el pago efectivamente se realizó. Para ello, la empresa posee una cuenta virtual, proporcionada por el proveedor del sistema de pago, a través de la cual puede consultar en tiempo real, el estado de las transacciones hechas por el cliente.</p>
                    <p>Con la confirmación lista, se procede a iniciar el proceso de despacho, a partir del cual empieza a correr el plazo asociado a la modalidad de entrega (Despacho vía courrier)</p>
                    <p>En caso se presentase algún problema con el pago efectuado, el cliente podrá ponerse en contacto con la empresa.</p>
                </div>
            </div>
            <div class="cambios-devoluciones">
                <h3 class="servicio-titulo">Cambios y devoluciones</h3>
                <div class="cambios-devoluciones-info servicio-info ps-2">
                    <p>Es prioridad de la Empresa ofrecer productos de excelente calidad y un alto nivel de servicio. Por ello, el Cliente está en la potestad de solicitar un cambio si no está satisfecho con su compra. Para lo cual el cliente, deberá realizar una solicitud formal vía correo electrónico consultas@monasterio.pe, luego de ser revisada y aprobada podrá apersonarse a la tienda indicada para realizar el cambio respectivo.</p>
                    <p>No obstante, la Empresa se reserva el derecho de aceptar o rechazar cualquiera de estas solicitudes dependiendo de las particularidades del caso materia de evaluación.</p>
                    <p>Para fines de esta política, entiéndase cambio como una solicitud hecha por el cliente, que tiene como objetivo cambiar un producto por otro de la marca MONASTERIO.</p>
                    <p>Los cambios de prendas podrán aceptarse si existen:</p>
                    <ul>
                        <li>Problemas de Calidad (responsabilidad de la empresa): Incluyen pérdida de color, sangrados, ruptura de costuras, excesivo pilling, etc.</li>
                        <li>Otros Problemas (ajenos a la empresa): Son errores involuntarios del cliente al escoger el tipo de prendas, por ejemplo en lo que respecta a talla, color o modelo.</li>
                    </ul>
                    <p>El cliente tendrá un plazo de 30 días calendario como máximo, contados a partir de la fecha de recepción del pedido, para presentar su solicitud de cambio vía correo electrónico <strong>conosultas@monasterio.pe.</strong></p>
                    <p>Esta será viable siempre y cuando se asegure que el producto:</p>
                    <ul>
                        <li>Presente boleta de venta en físico.</li>
                        <li>Ha sido adquirido a través de la plataforma de E-Commerce de MONASTERIO Perú.</li>
                        <li>La prenda se encuentre en perfecto estado.</li>
                        <li>Cuenta con los envases y etiquetas originales.</li>
                        <li>No muestre señales de uso o daño.</li>                    
                    </ul>
                    <p>El cliente, que haya hecho su compra en una provincia de Perú en donde no hayan tiendas físicas MONASTERIO, necesariamente deberá devolver el (los) producto(s) en perfecto estado vía Courier, a la dirección en Arequipa (Dicho envío será por cuenta del cliente)</p>
                    <p>La Empresa no hará ningún abono en efectivo ni por saldos a favor del cliente.</p>
                    <p>Devoluciones</p>
                    <p>Para fines de ésta política, entiéndase devolución como una solicitud hecha por el cliente que tiene como objetivo devolver el producto por el monto pagado.</p>
                    <p>No se aceptan devoluciones de dinero.</p>
                </div>
            </div>
            <div class="politicas-privacidad">
                <h3 class="servicio-titulo">Políticas de privacidad de la Información</h3>
                <div class="politicas-privacidad-info servicio-info ps-2">
                    <p>Para fines de ésta política, entiéndase devolución como una solicitud hecha por el cliente que tiene como objetivo devolver el producto por el monto pagado.</p>
                    <p>No se aceptan devoluciones de dinero.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript">
    const titulo = document.querySelector(".container-servicio")
    eventListener() 
    function eventListener() {
        titulo.addEventListener('click', mostrarTermino)
    }
    function mostrarTermino(e) {
        if (e.target.classList.contains("servicio-titulo")) {
            const categoria = e.target.nextElementSibling
            if (categoria.classList.contains('servicio-active')) {
                categoria.classList.remove("servicio-active")
            } else {
                categoria.classList.add("servicio-active")
            }
        }
    }
</script>
{% endblock content %}