.navbar{
    background-color: #fff;
    .logo{
        max-height: 130px;
        max-width: 130px;        
    }
    .nav-item.active .nav-link{
        color: $color-secundario !important;
    }
    .nav-item{
        text-transform: uppercase;
        .nav-link{
            font-size: 13px;            
            color: $color-primario !important;
        }    
        .nav-link:hover{
            color: $color-secundario !important;
        }
    }
    .carrito--icon{
        position: relative;
        i{
            font-size: 30px;
        }
        span{
            position: absolute;
            top: 53%;
            left: 50%;
            color: $color-claro;
            transform: translate(-50%, -50%);
            font-size: 12px;
        }
    }
}