   /*--------------------------------------------------------------
  # Servicio al cliente
  --------------------------------------------------------------*/
  
  .servicio .container-servicio{
    padding: 30px 20px;
    min-height: 25rem;
    *{
      font-size: 15px;
    }
  }
  
  .servicio h3{
    color: rgb(53, 53, 53);
    cursor: pointer;
    font-size: 22px !important;
  }
  .servicio h3:hover{
    color: rgb(0, 0, 0);
  }
  .container-servicio .servicio-info{
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }
  .container-servicio .servicio-active{
    max-height: 1000px;
    transition: max-height 0.5s ease-in;
  }
  