{% load static %}
<div class="rostros">
  <div class="rostros__grid">
      <div class="grid-item">
          <img src="{% static 'assets/img/compromiso/Rostros/Andrea/foto00465.jpg' %}" alt="">
      </div>
      <div class="grid-item">
          <img src="{% static 'assets/img/compromiso/Rostros/Angel/foto00023.jpg' %}" alt="">
      </div>
      <div class="grid-item">
          <img src="{% static 'assets/img/compromiso/Rostros/Angel/foto00008.jpg' %}" alt="">
      </div>
      <div class="grid-item">
          <img src="{% static 'assets/img/compromiso/Rostros/Walter/foto00438.jpg' %}" alt="">
      </div>
  </div>
  <div class="rostros__info">
      <div class="info">
          <h1 class="title">Rostros</h1>
          <p>Las personas que hacen la realidad ...</p>
      </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5 mb-5 rostro andrea">
    <div class="andrea__grid">
      <div class="grid__item1">
        <img src="{% static 'assets/img/compromiso/Rostros/Andrea/foto00465.jpg' %}" alt="">
      </div>
      <div class="grid__item2">
        <img src="{% static 'assets/img/compromiso/Rostros/Andrea/foto00441.jpg' %}" alt="">
      </div>
      <div class="grid__item3 nombre">
        <h1 class="title">Andrea</h1>
      </div>
      <div class="grid__item4">
        <img src="{% static 'assets/img/compromiso/Rostros/Andrea/foto00396.jpg' %}" alt="">
      </div>
      <div class="grid__item5">
        <img src="{% static 'assets/img/compromiso/Rostros/Andrea/foto00413.jpg' %}" alt="">
      </div>      
    </div>
  </div>
  <div class="row mt-5 mb-5 rostro angel">
    <div class="angel__grid">
      <div class="grid__item1 nombre">
        <h1 class="title">Angel</h1>        
      </div>
      <div class="grid__item2">
        <img src="{% static 'assets/img/compromiso/Rostros/Angel/foto00023.jpg' %}" alt="">                
      </div>
      <div class="grid__item3">
        <img src="{% static 'assets/img/compromiso/Rostros/Angel/foto00099.jpg' %}" alt="">   
      </div>
      <div class="grid__item4">
        <img src="{% static 'assets/img/compromiso/Rostros/Angel/foto00086.jpg' %}" alt="">
      </div>
      <div class="grid-item5">
        <img src="{% static 'assets/img/compromiso/Rostros/Angel/foto00097.jpg' %}" alt="">
      </div>      
    </div>
  </div>
  <div class="row mt-5 mb-5 rostro">
    <div class="col-md-12 p-0">
      <img src="{% static 'assets/img/compromiso/Rostros/Walter/foto00458.jpg' %}" alt="">
    </div>
    <div class="col-md-12 text-center pt-4 pb-4">
      <div>
        <h1 class="title">Walter</h1>
        <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, vero.</h5>
      </div>
    </div>
  </div>
</div>
<div class="row m-0 mt-5 mb-5 rostro rostro-walter">
  <div class="col-md-6 m-0 p-0">
    <img src="{% static 'assets/img/compromiso/Rostros/Walter/foto00438.jpg' %}" alt="">
  </div>
  <div class="col-md-6 m-0 p-0 d-flex align-items-center justify-content-center">
    <div class="rostro-walter-info">
      <h1 class="title text-center">Walter</h1>      
      <img src="{% static 'assets/img/compromiso/Rostros/Walter/foto00438.jpg' %}" alt="">      
    </div>
  </div>
</div>