body {
  padding-top: 6rem;
  font-family: 'Roboto', sans-serif !important;
}

a {
  text-decoration: none;
  color: #292828;
}

a:hover {
  color: #292828;
}

img {
  width: 100%;
  height: 100%;
}

h1.title {
  font-size: 4rem;
  letter-spacing: 10px;
}

h1.title-page {
  font-size: 4rem;
  letter-spacing: 10px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.precio--fake {
  color: #3b3b3b;
  text-decoration: line-through;
  padding-right: 5px;
}

.precio--real {
  color: #9b8d4e;
  font-weight: bold;
}

.ver {
  position: absolute;
  padding: 6px 12px;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  top: 49%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

div.eapps-widget {
  position: inherit !important;
}

.navbar {
  background-color: #fff;
}

.navbar .logo {
  max-height: 130px;
  max-width: 130px;
}

.navbar .nav-item.active .nav-link {
  color: #9b8d4e !important;
}

.navbar .nav-item {
  text-transform: uppercase;
}

.navbar .nav-item .nav-link {
  font-size: 13px;
  color: #3b3b3b !important;
}

.navbar .nav-item .nav-link:hover {
  color: #9b8d4e !important;
}

.navbar .carrito--icon {
  position: relative;
}

.navbar .carrito--icon i {
  font-size: 30px;
}

.navbar .carrito--icon span {
  position: absolute;
  top: 53%;
  left: 50%;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 12px;
}

.masonry {
  -webkit-columns: 4;
          columns: 4;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin: auto;
}

.masonry__item {
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  background-color: #9b8d4e;
}

.masonry__item img {
  max-width: 100%;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.masonry__item:hover img {
  opacity: 0.45;
}

.masonry__item:hover h5, .masonry__item:hover button, .masonry__item:hover .info {
  opacity: 1;
}

.masonry__item a {
  text-decoration: none;
}

.masonry__item .precio {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 12px 5px;
  border-radius: 5px;
  font-size: 15px;
}

.masonry__item .ver {
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.masonry__item .info {
  opacity: 0;
  position: absolute;
  bottom: 0%;
  padding: 10px 20px;
  color: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.masonry__item .info__descripcion {
  color: white;
  text-decoration: none;
}

.masonry__item .info__descripcion:hover {
  text-decoration: underline;
}

.masonry__item .info__nombre {
  color: white;
}

@media (max-width: 1200px) {
  .masonry {
    -webkit-columns: 3;
            columns: 3;
  }
}

@media (max-width: 768px) {
  .masonry {
    -webkit-columns: 2;
            columns: 2;
  }
}

@media (max-width: 576px) {
  .masonry {
    -webkit-columns: 1;
            columns: 1;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100%;
}

.grid .grid_item {
  height: 100%;
  opacity: 1;
}

.grid .grid_item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.grid .grid_item:hover {
  opacity: 0.8;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.grid .grid_item--1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.grid .grid_item--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.grid .grid_item--3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

@media (max-width: 576px) {
  .grid {
    padding: 20px;
    max-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.grid--contactos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  text-align: center;
}

.grid--contactos i {
  font-size: 20px;
  color: #9b8d4e;
}

.categorias {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  max-height: 0;
  -webkit-transition: max-height 0.80s ease-out;
  transition: max-height 0.80s ease-out;
  -webkit-transition-delay: -0.30s;
          transition-delay: -0.30s;
  overflow: hidden;
}

.categorias--active {
  max-height: 500px;
  -webkit-transition: max-height 0.75s ease-in;
  transition: max-height 0.75s ease-in;
}

.categorias-movil {
  display: none;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.50s ease-out;
  transition: max-height 0.50s ease-out;
  overflow: hidden;
  font-size: 12px;
}

.categorias-movil h6 {
  font-size: 12px;
  font-weight: bold;
}

.categorias-movil ul {
  list-style: none;
}

.categorias-movil ul.categorias-lista {
  padding-left: 0px;
}

.categorias-movil a {
  text-decoration: none;
  color: #3b3b3b;
}

.categorias-movil a:hover {
  text-decoration: underline;
}

.categorias-movil--active {
  max-height: 500px;
  -webkit-transition: max-height 0.45s ease-in;
  transition: max-height 0.45s ease-in;
}

.grid--tienda {
  width: 100%;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.grid--tienda * {
  font-family: 'Montserrat', sans-serif;
}

.grid--tienda h6 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.grid--tienda a {
  text-decoration: none;
  color: #3b3b3b;
}

.grid--tienda a:hover {
  text-decoration: underline;
}

.grid--tienda ul {
  padding-left: 10px;
}

.grid--tienda ul li {
  list-style: none;
  font-size: 16px;
  margin-bottom: 5px;
}

.proyectos .proyecto .card-body {
  height: 350px;
  overflow-y: auto;
}

.proyectos img {
  height: 250px;
  border-radius: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.top {
  margin-top: 20px;
  margin-bottom: 20px;
}

.top__categoria {
  margin-bottom: 15px;
}

.top__direccion a {
  text-decoration: none;
}

.top__direccion .active {
  border-bottom: 1px solid #3b3b3b;
  font-weight: bold;
  color: #3b3b3b;
  text-decoration: none;
}

.top__direccion * {
  display: inline-block;
  cursor: pointer;
}

.top__direccion *:hover {
  border-bottom: 1px solid #3b3b3b;
  font-weight: bold;
}

.paginacion .pagination .page-item .page-link {
  border-radius: 0px;
  border: 1px solid #3b3b3b;
  color: #3b3b3b;
}

.paginacion .pagination .page-item .page-link:hover {
  border: 2px solid black;
}

.paginacion .pagination .page-item .first, .paginacion .pagination .page-item .last, .paginacion .pagination .page-item .active {
  background: #3b3b3b;
  color: white;
}

.carousel-item {
  height: 31rem;
  background-color: #3b3b3b;
}

.carousel-item img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .5;
}

.carousel-item a.btn {
  background-color: white !important;
}

.carousel-item a.btn:hover {
  background-color: #3b3b3b !important;
}

.carousel--producto img {
  opacity: 1;
}

.producto__info * {
  margin-bottom: 20px;
}

.producto__colores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.producto__colores #active {
  border: 1px solid black;
}

.producto__color {
  margin: 10px 15px;
  padding: 4px;
  border-radius: 50px;
  cursor: pointer;
}

.producto__color:hover {
  border: 1px solid #5c5a5a;
}

.producto__color * {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 1px 1px #b3b0b0;
          box-shadow: 1px 1px 1px 1px #b3b0b0;
}

.producto__color.active {
  border: 1px solid #5c5a5a;
}

.producto__cantidad select {
  width: 80%;
  background: rgba(128, 128, 128, 0.116);
  border: none;
  border-bottom: 2px solid black;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

footer {
  background-color: #9b8d4e;
  color: white;
}

.colecciones > * {
  margin: 60px 0px;
}

.hero {
  position: relative;
  margin-top: 0px;
}

.hero__img {
  height: 500px;
  padding: 20px;
  opacity: 0.5;
}

.hero__border {
  border: 2px solid white;
  width: 100%;
  height: 100%;
}

.hero__info {
  position: absolute;
  bottom: 15%;
  left: 0px;
  width: 100%;
  text-align: center;
}

.hero__info * {
  color: black;
}

.hero__info h1 {
  font-size: 6rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.hero__info p {
  font-size: 2rem;
}

.hero__info .btn-ver {
  border: 2px solid #3b3b3b;
  padding: 10px;
  font-size: 120%;
  background: #3b3b3b;
  color: white;
}

.hero__info .btn-ver:hover {
  background: white;
  color: #3b3b3b;
}

.compromiso .rostros {
  margin: 50px 0;
  position: relative;
}

.compromiso .rostros__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.compromiso .rostros__grid img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.compromiso .rostros__grid img:hover {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.compromiso .rostros__info {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  border: 1px solid #f1eddc;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
}

.compromiso .rostros__info .info {
  text-align: center;
  color: #f1eddc;
}

.compromiso .rostro {
  background-color: #f1eddc;
}

.compromiso .rostro.andrea {
  background-color: #fff;
}

.compromiso .rostro.andrea .andrea__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.compromiso .rostro.andrea .andrea__grid img {
  -webkit-box-shadow: 0 0 8px 5px rgba(161, 161, 161, 0.849);
          box-shadow: 0 0 8px 5px rgba(161, 161, 161, 0.849);
}

.compromiso .rostro.andrea .andrea__grid img:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.compromiso .rostro.andrea .andrea__grid .grid__item5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.compromiso .rostro.angel {
  background-color: #fff;
}

.compromiso .rostro.angel .angel__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.compromiso .rostro.angel .angel__grid img {
  -webkit-box-shadow: 0 0 8px 5px rgba(161, 161, 161, 0.849);
          box-shadow: 0 0 8px 5px rgba(161, 161, 161, 0.849);
}

.compromiso .rostro.angel .angel__grid img:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.compromiso .rostro.angel .angel__grid .grid__item4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.compromiso .rostro-walter {
  background-color: #afa797;
  color: #f1eddc;
}

.compromiso .rostro-walter-info img {
  width: 400px;
}

.banner {
  background: #9b8d4e;
  color: white;
  padding: 30px;
}

.conocenos__box.pri img {
  height: 600px;
}

.conocenos__box.sec img {
  height: 600px;
}

.conocenos__box {
  margin: 50px 0;
  background-color: #f1eddc;
}

.conocenos__box .row {
  width: 100%;
}

.conocenos__box .box__img {
  position: relative;
}

.conocenos__box .box__img h1 {
  font-size: 6rem;
  font-family: 'Times New Roman', Times, serif;
  color: #f1eddc;
  position: absolute;
  top: 40%;
  right: 12%;
  letter-spacing: 2px;
}

.conocenos__box .box__img .img--principal {
  display: block;
}

.conocenos__box .box__img .img--secundaria {
  display: none;
}

.conocenos__box .box__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.conocenos__box .box__img:hover .img--principal {
  display: none;
}

.conocenos__box .box__img:hover .img--secundaria {
  display: block;
}

.conocenos__box .box__info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.conocenos__box .box__info h1 {
  font-size: 4rem;
  letter-spacing: 15px;
  margin-bottom: 50px;
}

.conocenos__box .box__info p {
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.inspiracion {
  height: 100vh;
  background: url("../img/inspiracion/JMM_1140.JPG") center center no-repeat;
  background-size: cover;
}

.inspiracion__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.inspiracion__info .title {
  margin-bottom: 40px;
}

.inspiracion__info .info {
  width: 50%;
}

.inspiracion, .materiales {
  margin: 50px auto;
}

.materiales {
  background: #f1eddc;
  padding: 0;
}

.materiales .row {
  width: 100%;
  margin: 0;
}

.materiales img {
  opacity: 1;
  height: 100%;
}

.materiales__info {
  padding: 30px;
}

.materiales .title {
  font-size: 3rem;
}

.eco__img {
  position: relative;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.eco__img:hover {
  background: #9b8d4e;
}

.eco__img:hover img {
  opacity: 0.5;
}

.eco__img:hover .eco__btn.ver {
  opacity: 1;
}

.eco__img:hover .eco__btn.ver:hover {
  background: white;
  color: #3b3b3b;
}

.eco__btn.ver {
  color: white;
  background: none;
  border: 1px solid #3b3b3b;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.eco .container {
  max-width: 1350px;
}

.eco__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.eco__info .container h3 {
  font-size: 6rem;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.eco__info .container p {
  font-size: 1rem;
}

.eco__img {
  height: 300px;
}

.eco__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.modal {
  background-color: rgba(255, 255, 255, 0.7);
}

.bordados {
  position: relative;
}

.bordados__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.bordados__grid img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.bordados__grid .grid-item {
  position: relative;
}

.bordados__grid .grid-item:hover img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.bordados__grid .grid-item:hover .bordados__btn.ver {
  opacity: 1;
}

.bordados__grid .grid-item:hover .bordados__btn.ver:hover {
  background: #3b3b3b;
  color: white;
}

.bordados__btn.ver {
  color: #3b3b3b;
  border: 1px solid #3b3b3b;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.bordados__info {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  border: 2px solid #f1eddc;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
}

.bordados__info .info {
  text-align: center;
  color: #f1eddc;
}

/*--------------------------------------------------------------
  # Servicio al cliente
  --------------------------------------------------------------*/
.servicio .container-servicio {
  padding: 30px 20px;
  min-height: 25rem;
}

.servicio .container-servicio * {
  font-size: 15px;
}

.servicio h3 {
  color: #353535;
  cursor: pointer;
  font-size: 22px !important;
}

.servicio h3:hover {
  color: black;
}

.container-servicio .servicio-info {
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.container-servicio .servicio-active {
  max-height: 1000px;
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
}

/*--------------------------------------------------------------
  # Carrito
  --------------------------------------------------------------*/
.carrito {
  min-height: 30rem;
}

.carrito--tabla table th,
.carrito--tabla table td {
  vertical-align: middle;
}

.carrito--tabla * {
  color: black;
}

.producto--tabla .producto__imagen {
  display: inline-block;
  width: 80px;
  height: 100px;
}

.producto--tabla .producto__imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.producto--tabla .producto__nombre {
  display: inline-block;
  padding-left: 20px;
}

.producto--tabla .producto__delete {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
}

.producto--tabla .producto__delete:hover {
  background-color: black;
}

.producto--tabla .producto__delete:hover h4 {
  color: white;
}

.producto--tabla .producto__cantidad button,
.producto--tabla .producto__cantidad h6 {
  display: inline-block;
  padding: 10px;
}

.producto--tabla .producto__cantidad button {
  width: 30px;
  height: 100%;
  border: none;
}

.producto--tabla .producto__cantidad button h3 {
  margin: 0;
}

.producto--tabla .confirmar {
  display: block;
  padding: 7px 0;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  border: none;
  color: white;
  background-color: black;
  text-align: center;
}

.producto--tabla .confirmar:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=styles.css.map */