@import "components/globals";
@import "components/masonry";
@import "components/grid";

.logo{
    max-height: 60px;
}
.nav-item.active .nav-link{
    color: $color-secundario !important;
}
.nav-item{
    text-transform: uppercase;
    .nav-link{
        font-size: 13px;
        font-family: 'Rubik', sans-serif;
        color: $color-primario !important;
    }    
    .nav-link:hover{
        color: $color-secundario !important;
    }
}
.proyectos{
    background-color: $color-claro;
    img{
        max-height: 350px;
        border-radius: 0px;
        object-fit: cover;
    }
    h5{
        color: $color-secundario;
        &:hover{
            font-weight: bold;
        }
    }
}