{% load static %}
<div class="bordados">
  <div class="bordados__grid">
    <div class="grid-item">
      <img src="{% static 'assets/img/colecciones/BORDADOS/a2.jpg' %}" alt="">
      <!-- Button trigger modal -->
      <button type="button" class="bordados__btn ver" data-bs-toggle="modal" data-bs-target="#bordado1">
        Ver
      </button>
      <!-- Modal -->
      <div class="modal fade" id="bordado1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{% static 'assets/img/colecciones/BORDADOS/a2.jpg' %}" width="100" alt="">
            </div>
            <div class="modal-footer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id animi voluptas dolor esse eius
              similique vero impedit cum dolorum?
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img src="{% static 'assets/img/colecciones/BORDADOS/a7.jpg' %}" alt="">
      <!-- Button trigger modal -->
      <button type="button" class="bordados__btn ver" data-bs-toggle="modal" data-bs-target="#bordado2">
        Ver
      </button>
            <!-- Modal -->
      <div class="modal fade" id="bordado2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{% static 'assets/img/colecciones/BORDADOS/a7.jpg' %}" alt="">
            </div>
            <div class="modal-footer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id animi voluptas dolor esse eius
              similique vero impedit cum dolorum?
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img src="{% static 'assets/img/colecciones/BORDADOS/a3.jpg' %}" alt="">
      <!-- Button trigger modal -->
      <button type="button" class="bordados__btn ver" data-bs-toggle="modal" data-bs-target="#bordado3">
        Ver
      </button>
            <!-- Modal -->
      <div class="modal fade" id="bordado3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{% static 'assets/img/colecciones/BORDADOS/a3.jpg' %}" alt="">
            </div>
            <div class="modal-footer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id animi voluptas dolor esse eius
              similique vero impedit cum dolorum?
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img src="{% static 'assets/img/colecciones/BORDADOS/a4.jpg' %}" alt="">
      <!-- Button trigger modal -->
      <button type="button" class="bordados__btn ver" data-bs-toggle="modal" data-bs-target="#bordado4">
        Ver
      </button>
            <!-- Modal -->
      <div class="modal fade" id="bordado4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{% static 'assets/img/colecciones/BORDADOS/a4.jpg' %}" alt="">
            </div>
            <div class="modal-footer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id animi voluptas dolor esse eius
              similique vero impedit cum dolorum?
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img src="{% static 'assets/img/colecciones/BORDADOS/a5.jpg' %}" alt="">
      <!-- Button trigger modal -->
      <button type="button" class="bordados__btn ver" data-bs-toggle="modal" data-bs-target="#bordado5">
        Ver
      </button>
            <!-- Modal -->
      <div class="modal fade" id="bordado5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{% static 'assets/img/colecciones/BORDADOS/a5.jpg' %}" alt="">
            </div>
            <div class="modal-footer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id animi voluptas dolor esse eius
              similique vero impedit cum dolorum?
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <img src="{% static 'assets/img/colecciones/BORDADOS/a6.jpg' %}" alt="">
      <!-- Button trigger modal -->
      <button type="button" class="bordados__btn ver" data-bs-toggle="modal" data-bs-target="#bordado6">
        Ver
      </button>
            <!-- Modal -->
      <div class="modal fade" id="bordado6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{% static 'assets/img/colecciones/BORDADOS/a6.jpg' %}" alt="">
            </div>
            <div class="modal-footer">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi id animi voluptas dolor esse eius
              similique vero impedit cum dolorum?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bordados__info">
    <div class="info">
      <h1 class="title">Bordados</h1>
      <p>Bordados a mano en hilo de alpaca </p>
    </div>
  </div>
</div>