{% extends 'tienda/colecciones.html' %}
{% load static %}
{% block coleccion %}
<div class="guagas">
  <div class="row m-0">
    <div class="col-md-6 p-0">
      <img src="{% static 'assets/img/colecciones/GUAGUAS/V5.jpg' %}" alt="">
    </div>
    <div class="col-md-6 p-0 d-flex align-items-center">
      <div class="info ms-4 me-4">
        <h1 class="title p-4" style="font-size: 3rem; font-family: 'Times New Roman', Times, serif;">GUAGAS</h1>
        <div class="p-4 border-top border-bottom">
          <h5 class="text-muted"><i>Una colección de prendas tejidas a mano para los más pequeños 
          </i></h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock coleccion %}