.banner{
    background: $color-secundario;
    color: $color-claro;
    padding: 30px;
}
.conocenos__box.pri{
    img{
        height: 600px;
    }
}
.conocenos__box.sec{
    img{        
        height: 600px;
    }
}
.conocenos__box{
    margin: 50px 0;
    background-color: $color-terciario;
    & .row {
        width: 100%;
    }
    .box__img{  
        position: relative;        
        h1{
            font-size: 6rem;
            font-family: 'Times New Roman', Times, serif;
            color: $color-terciario;
            position: absolute;
            top: 40%;
            right: 12%;
            letter-spacing: 2px;
        }
        .img--principal{
            display: block;
        }
        .img--secundaria{            
            display: none;
        }
        img{
            width: 100%;
            object-fit: cover;            
        }
        &:hover{
            .img--principal{
                display: none;
            }
            .img--secundaria{            
                display: block;
            }
        }
    }
    .box__info{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;        
        padding: 30px;
        h1{
            font-size: 4rem;
            letter-spacing: 15px;
            margin-bottom: 50px;
        }   
        p{
            font-size: 1.3rem;
            letter-spacing: 2px;
        }     
    }
}
.inspiracion{
    height: 100vh;
    background: url("../img/inspiracion/JMM_1140.JPG") center center no-repeat;
    background-size: cover;    
    &__info{
        display: flex;
    align-items: center;
    justify-content: center;
        color: $color-claro;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .3);        
        .title{
            margin-bottom: 40px;
        }
        .info{
            width: 50%;
        }
    }
}
.inspiracion, .materiales{
    margin: 50px auto;
}
.materiales{    
    background: $color-terciario;
    padding: 0;
    .row{
        width: 100%;
        margin: 0;
    }
    img{
        opacity: 1;
        height: 100%;
    }
    &__info{
        padding: 30px;
    }
    .title{
        font-size: 3rem;
    }
}