$color-primario: rgb(59, 59, 59);
$color-claro: rgb(255, 255, 255);
$color-secundario: rgb(155, 141, 78);
body{    
    padding-top: 6rem;
}
img{
    width: 100%;
    height: 100%;
}
.precio--fake{
    color: $color-primario;
    text-decoration: line-through;
    padding-right: 5px;
}
.precio--real{
    color: $color-secundario;    
    font-weight: bold;
}
