.masonry{
    columns: 4;
    column-gap: 10px;
    margin: auto;
    &__item{
        border-radius: 5px;
        position: relative;
        width: 100%;
        margin-bottom: 5px;
        overflow: hidden;
        break-inside: avoid;
        background-color: $color-secundario;                
        img{
            max-width: 100%;
            transition: ease-in-out 0.3s;                        
        }
        &:hover{
            img {
                opacity: 0.45;  
            }
            h5, button, .info{
                opacity: 1;
            }              
        }
        .precio{            
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: $color-claro;
            color: $color-secundario;
            padding: 12px 5px;
            border-radius: 5px;
            font-size: 15px;
            font-weight: bold;
        }
        .ver{    
            opacity: 0;        
            position: absolute;
            padding: 6px 12px;
            background-color: $color-claro;
            border: 0px;
            border-radius: 5px;            
            top: 49%;
            left: 49%;
            transform: translate(-50%, -50%);
            transition: ease-in-out 0.3s;
        }
        .info{
            opacity: 0;
            position: absolute;
            bottom: 0%;
            padding: 10px 20px;
            color: $color-claro;
            transition: ease-in-out 0.3s; 
        }
    }
    @media (max-width: 1200px){
        columns: 3;
    }
    @media (max-width: 768px){
        columns: 2;
    }
    @media (max-width: 576px){
        columns: 1;
    }
}