.proyectos{
    .proyecto{
        .card-body{
            height: 350px;
            overflow-y: auto;
        }
    }
    img{
        height: 250px;
        border-radius: 0px;
        object-fit: cover;
    }    
}